{% extends "page.html" %} {% block subtitle %}{{ _('Register') }}{% endblock %} {% block breadcrumb_content %}
<li class="active">{{ h.nav_link(_('Registration'), controller='user', action='register') }}</li>
{% endblock %} {% block primary_content %}
<article class="module">
  <div class="module-content">
    {% block primary_content_inner %}
    <h1 class="page-heading">
        {% block page_heading %}{{ _('Register for an Account') }}{% endblock %}
      </h1>
    <form id="user-register-form" class="form-horizontal" action="" method="post">
      <div class="control-group control-medium"> <label class="control-label" for="field-username">Username</label>
        <div class="controls "> <input id="field-username" type="text" name="name" value="" placeholder="username" /> </div>
      </div>
      <div class="control-group control-medium"> <label class="control-label" for="field-fullname">Full Name</label>
        <div class="controls "> <input id="field-fullname" type="text" name="fullname" value="" placeholder="Joe Bloggs" /> </div>
      </div>
      <div class="control-group control-medium"> <label class="control-label" for="field-email">Email</label>
        <div class="controls "> <input id="field-email" type="email" name="email" value="" placeholder="joe@example.com" /> </div>
      </div>
      <div class="control-group control-medium"> <label class="control-label" for="field-password">Password</label>
        <div class="controls "> <input id="field-password" type="password" name="password1" value="" placeholder="••••••••" /> </div>
      </div>
      <div class="control-group control-medium"> <label class="control-label" for="field-confirm-password">Confirm</label>
        <div class="controls "> <input id="field-confirm-password" type="password" name="password2" value="" placeholder="••••••••" /> </div>
      </div>
      <h4 style="margin-left: 4em;">By registering you agree you have read our <a href="https://my.stirling.gov.uk/services/council-and-government/data-protection-and-freedom-of-information/data-protection">Data Protection Policy</a>. </h4>
      <div class="form-actions"> <button class="btn btn-primary" type="submit" name="save">Create Account</button> </div>
    </form>
   {% endblock %}
  </div>
</article>
{% endblock %} {% block secondary_content %} {% block help %}
<section class="module module-narrow module-shallow">
  {% block help_inner %}
  <h2 class="module-heading">{{ _('Why Sign Up?') }}</h2>
  <div class="module-content">
    <p>{% trans %}Create datasets, groups and other exciting things{% endtrans %}</p>
  </div>
  {% endblock %}
</section>
{% endblock %} {% endblock %}
